<footer class="footer">
    <p>Made with <span aria-label="love">❤️</span> in <span aria-label="India">🇮🇳</span> by <a href="https://github.com/{{site.github_username}}">Vishal Patra</a></p>
    <div class="social-icons">
        <a href="https://instagram.com/{{site.instagram_username}}" aria-label="Instagram"><i class="fa fa-instagram"></i></a>
        <a href="https://linkedin.com/in/{{site.linkedin_username}}" aria-label="LinkedIn"><i class="fa fa-linkedin"></i></a>
        <a href="https://github.com/{{site.github_username}}" aria-label="GitHub"><i class="fa fa-github"></i></a>
    </div>
</footer>
<script src="//cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
{% include google-analytics.html %}
